@charset "UTF-8";
*, *::before, *::after{ box-sizing: border-box; }
/*  common
--------------------------------*/
body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
.wrap{
    overflow: hidden;
}
.ttl-wrap{
    width: 100%;
    text-align: center;
    margin-top: 150px;
}
.ttl{
    font-weight: bold;
    font-size: 5vw;
    background: transparent linear-gradient(54deg, #6CC6CBCB 0%, #C4C4C4 58%, #F2A681CB 100%) 0% 0% no-repeat padding-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}
.sub-ttl{
    font-size: 2vw;
    font-weight: bold;
    color: #5A5A5A;
    opacity: 0.8;
    line-height: 2.5;
}

/*  loading
--------------------------------*/
#loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* display: none; */
}

/*  slideshow
--------------------------------*/
.slide{
    width: 100%;
    margin: 150px 5px 0 5px;
    position: relative;
    z-index: -1;
}
.slide::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.2);
}
.slide1{
    width: 20%;
    height: 100vh;
    background: url(../img/fv1.png) no-repeat center center;
    background-size: cover;
}
.slide2{
    width: 40%;
    height: 100vh;
    background: url(../img/fv2.png) no-repeat center center;
    background-size: cover;
}
.slide3{
    width: 25%;
    height: 100vh;
    background: url(../img/fv3.png) no-repeat center center;
    background-size: cover;
}
.slide4{
    width: 50%;
    height: 100vh;
    background: url(../img/fv4.png) no-repeat center center;
    background-size: cover;
}
.slide5{
    width: 20%;
    height: 100vh;
    background: url(../img/fv5.png) no-repeat center center;
    background-size: cover;
}

/*  nav
--------------------------------*/
.nav-wrap{
    width: 93%;
    padding: 2%;
    margin: 0 3.6% 0 3.6%;
    border-radius: 0 0 30px 30px;
    z-index: 9998;
    position: fixed;
    background: #ffffff;
    box-shadow: 10px 10px 38px #d1d1d1,-10px -10px 38px #ffffff;
}
h1 img{
    width: 10vw;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 2%;
}
.nav-list a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.54vw;
    color: #707070;
    transition: .4s;
}
/* ホバー時 */
.nav-list li a:hover {
    background: transparent linear-gradient(41deg, #6CC6CBE5 0%, #EEB193E6 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    padding: 15%;
    border-radius: 8px;
    }

/*  fv-wrap
--------------------------------*/
.fv-wrap{
    /* display: none; */
    position: relative;
}
.fv-lead{
    position: absolute;
    width: 650px;
    height: 200px;
    padding: 45px 60px 45px 60px;
    background: url(../img/fv-box.png) ;
    background-size: cover;
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten;
    bottom: -100px;
    right: 0;
}
.fv-lead p{
    font-size: 33px;
    color: #fff;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: bold;
    line-height: 1.72;
}
.CTA1{
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 100;
}
.article-wrap{
    margin-top: 220px;
}
.article-wrap > p{
    line-height: 2.17;
    text-align: center;
    display: block;
    margin-bottom: 35px;
}
.dog1{
    text-align: center;
    margin: 80px 0 50px 0;
}

/*  article-wrap
--------------------------------*/

/* スクロールアニメーション */
.scroll-wrap{
    position: relative;
    margin-top: 130px;
}
.scrolldown{
    position: absolute;
    left: 50%;
    bottom: 10px;
    height: 50px;
}
.scrolldown span{
    /*描画位置*/
  position: absolute;
  left:-15px;
  top: -15px;
    /*テキストの形状*/
  color: #000;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}
.scrolldown::after{
  content: "";
    /*描画位置*/
  position: absolute;
  top: 0;
    /*線の形状*/
  width: 1px;
  height: 30px;
  background: #000;
    /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity:0;
}
@keyframes pathmove{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
}

/*  about-area
--------------------------------*/
.about-area{
    position: relative;
    margin-top: 200px;
}

/* カラフルなブラー背景 */
.v1{
    position: absolute;
    background: #6FCED3AD;
    border-radius: 50%;
    opacity: 0.25;
    filter: blur(50px);
    width: 542px;
    height: 542px;
    top: 60px;
    right: 80px;
    z-index: -1;
}
.v2{
    position: absolute;
    background: #FFC4A7E0;
    border-radius: 50%;
    opacity: 0.33;
    filter: blur(50px);
    width: 690px;
    height: 663px;
    top: 600px;
    left: 30px;
    z-index: -1;
}
.v3{
    position: absolute;
    background: #FDC5C5DD;
    border-radius: 50%;
    opacity: 0.25;
    filter: blur(50px);
    width: 812px;
    height: 779px;
    top: 1200px;
    left: 252px;
    z-index: -1;
}
.v4{
    position: absolute;
    background: #DCE6FC;
    border-radius: 50%;
    opacity: 0.32;
    filter: blur(50px);
    width: 793px;
    height: 761px;
    top: 1900px;
    right: 50px;
    z-index: -4;
}

/* aboutList */
.aboutList .box{
    display: flex;
    margin: 7% auto;
    width: 80vw;
}
.about-thumbnail > img{
    display: block;
    width: 100%;
}
.about-article{
    padding: 7% 6% 4% 6%;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    width: 90vw;
}
h2{
    font-size: 1.6vw;
    line-height: 2.2;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5%;
}
.border{
    border-bottom: solid 2.5px #211F1F;
    padding-bottom: 5px;
}
.about-article p{
    width: 100%;
    height: 120px;
    margin-top: 1.5%;
    font-size: 1.4vw;
    line-height: 2.2;
    text-align: center;
}
.aboutList .box:nth-child(even) {
  flex-direction: row-reverse;
}

/*  course-area
--------------------------------*/
.course-list{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 3% auto;
}
.course-box{
    width: 35vw;
    height: 32vw;
    border-radius: 71px;
    border: 0.5px solid #707070;
    box-shadow: 15px 15px 2px 1px rgba(238, 177, 147);
    margin: 5% auto;
    text-align: center;
    padding: 5% 4%;
}
h3{
    font-size: 2.3vw;
    font-weight: bold;
    color: #6888AB;
    margin-bottom: 5%;
}
.course-box > p{
    line-height: 2.5;
    font-size: 1.4vw;
    align-items: center;
    margin-bottom: 2%;
}
.price{
    font-size: 2.5vw;
    font-weight: bold;
    color: #6888AB;
}
.course-area > p{
    font-size: 1.5vw;
    color: #6888AB;
    font-weight: bold;
    text-align: right;
    padding-right: 5%;
}

/*  photo-area
--------------------------------*/
/* カラフルなブラー背景 */
.circle-wrap2{
    position: relative;
}
.v5{
    position: absolute;
    background: #6FCED3AD;
    border-radius: 50%;
    opacity: 0.4;
    filter: blur(60px);
    width: 400px;
    height: 400px;
    top: 10px;
    left: 40px;
    z-index: -1;
}
.v6{
    position: absolute;
    background: #FDC5C5DD;
    border-radius: 50%;
    opacity: 0.4;
    filter: blur(70px);
    width: 500px;
    height: 500px;
    top: 250px;
    right: -30px;
    z-index: -1;
}
.v7{
    position: absolute;
    background: #DCE6FC;
    border-radius: 50%;
    opacity: 0.4;
    filter: blur(50px);
    width: 250px;
    height: 250px;
    top: 450px;
    left: 100px;
    z-index: -4;
}
/* photo-contents */
.photo-contents{
    width: 100%;
    margin: 0 auto;
}
.photo{
    width: 100%;
    height: 70vh;
    margin: 0.2% 20px;
    border-radius: 30px;
}
.photo1{
    background: url(../img/photo1.jpg) no-repeat center center;
    background-size: cover;
}
.photo2{
    background: url(../img/photo2.jpg) no-repeat center center;
    background-size: cover;
}
.photo3{
    background: url(../img/photo3.jpg) no-repeat center center;
    background-size: cover;
}
.photo4{
    background: url(../img/photo4.jpg) no-repeat center center;
    background-size: cover;
}
.photo5{
    background: url(../img/photo5.jpg) no-repeat center center;
    background-size: cover;
}
.photo6{
    background: url(../img/photo6.jpg) no-repeat center center;
    background-size: cover;
}
.photo7{
    background: url(../img/photo7.jpg) no-repeat center center;
    background-size: cover;
}
.photo8{
    background: url(../img/photo8.jpg) no-repeat center center;
    background-size: cover;
}
.photo9{
    background: url(../img/photo9.jpg) no-repeat center center;
    background-size: cover;
}
.photo10{
    background: url(../img/photo10.jpg) no-repeat center center;
    background-size: cover;
}
.photo11{
    background: url(../img/photo11.jpg) no-repeat center center;
    background-size: cover;
}
#photoContents > .slick-prev{
    left: 30px;
}
#photoContents > .slick-next
{
    right: 80px;
}
#photoContents > .slick-arrow{
    z-index:2;
}
#photoContents > .slick-arrow:before{
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    top: -20px;
    left: 0;
}
#photoContents > .slick-prev:before{
    background: url(../img/arrow.png);
    background-size: contain;
    opacity: 1;
    transform: rotate(-180deg);
}
#photoContents > .slick-next:before {
    background: url(../img/arrow.png);
    background-size: contain;
    opacity: 1;
}
/*  voice-area
--------------------------------*/
.voice-staff-container{
    background: transparent linear-gradient(180deg,#FFFFFF1C 5%, #EEB19333 15%, #F5BEA25D 23%, #FCE3D2A8 44%, #B1CDC05A 64%, #61B7BD55 100%) 0% 0% no-repeat padding-box;
    padding: 5% 0 10% 0;
}
.voice1{
    width: 60%;
    margin-left: 5%;
    margin-top: 2%;
}
.voice1 > img{
    width: 100%;
}
.voice2{
    width: 60%;
    margin-left: auto;
    margin-top: -6%;
}
.voice2 > img{
    width: 100%;
}
.voice3{
    width: 60%;
    margin-left: 5%;
    margin-top: -6%;
}
.voice3 > img{
    width: 100%;
}
/*  staff-area
--------------------------------*/
.staff-area{
    background: #fff;
    width: 85%;
    border-radius: 65px;
    margin: 0 auto;
    padding-bottom: 7%;
}
.staff-area > .ttl-wrap{
    margin-top: 7%;
    padding-top: 7%;
}
.staff-list{
    width: 75%;
    margin: 0 auto;
}
.staff{
    display: flex;
    justify-content: space-between;
    margin: 6% 0;
}
.staff-thumbnail figure{
    width: 25vw;
    height: auto;
}
.staff-thumbnail figure img{
    width: 100%;
}
.staff-box p{
    margin-top: 25%;
    line-height: 2.2;
    font-size: 1.4vw;
}
.staff-box p span{
    font-size: 1vw;
}
.staff-box1{
    position: relative;
    width: 50%;
}
.staff-box1 > h4{
    position: absolute;
    width: 70%;
    z-index: 2;
    text-align: center;
    color: #fff;
    background: transparent linear-gradient(52deg, #6CC6CBEA 0%, #BABABA 58%, #F2A681E5 100%) 0% 0% no-repeat padding-box;
    font-weight: bold;
    padding: 4% 0;
    font-size: 1.5vw;
    top: 8%;
    left: -30%;
}
.staff-box2{
    position: relative;
    width: 50%;
}
.staff-box2 > h4{
    position: absolute;
    width: 70%;
    z-index: 2;
    text-align: center;
    color: #fff;
    background: transparent linear-gradient(52deg, #6CC6CBEA 0%, #BABABA 58%, #F2A681E5 100%) 0% 0% no-repeat padding-box;
    font-weight: bold;
    padding: 4% 0;
    font-size: 1.5vw;
    top: 8%;
    left: 60%;
}
.staff-box-pink h4{
    background: transparent linear-gradient(52deg, #6CC6CBEA 0%, #E0BDBD 58%, #E2B9B9 100%) 0% 0% no-repeat padding-box;
}
.staff:nth-child(even) {
  flex-direction: row-reverse;
}

/* massage-wrap */
.massage-wrap{
    width: 85%;
    margin: 7% auto 3% auto;
}
.massage_border{
    width: 100%;
    height: 7px;
    background: #61B7BD;
    margin-top: 5%;
}
h5{
    padding: 6% 4%;
    color: #61B7BD;
    font-weight: bold;
    font-size: 2.3vw;
}
.massage p{
    color: #707070;
    font-size: 1.3vw;
    padding: 2.5% 4%;
    line-height: 2.1;
    font-weight: bold;
}
/*  access-area
--------------------------------*/
.map-wrap{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5% 0 6% 0;
    align-items: center;
}
.map > iframe{
    border-radius: 20px;
}
.adress{
    padding: 2% 0 2% 10%;
    color: #707070;
}
.adress p{
    line-height: 1.5;
    font-size: 1.4vw;
    padding: 2% 0;

}
.map-btn{
    width: 85%;
    border-radius: 41px;
    background: #61B7BD 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 10px #00000029;
    padding: 4% 1%;
    text-align: center;
    margin-top: 3%;
    width: 20vw;
    font-size: 1.3vw;
}
.map-btn > a{
    text-decoration: none;
    color: #fff;
}
/*  reservation-area
--------------------------------*/
.reservation-area{
    background: transparent linear-gradient(159deg, #6CC6CBBF 0%, #EEB1939B 100%) 0% 0% no-repeat padding-box;
}
.ttl-wrap-reserve{
    width: 100%;
    text-align: center;
    padding: 4% 0;
}
.ttl-reserve{
    font-weight: bold;
    font-size: 5vw;
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}
.sub-ttl-reserve{
    font-size: 2vw;
    font-weight: bold;
    color: #fff;
    opacity: 1;
    line-height: 2.5;
}
.reservation-wrap{
    background: #fff;
    border-radius: 40px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 0;
}
.reservation-wrap > p{
    color: #5A5A5A;
    line-height: 2;
    font-weight: bold;
    font-size: 1.6vw;
}
.reservation-wrap span{
    font-weight: normal;
}
.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta_icon > img{
    width: 80%;
}
.instagram > p{
    margin-left: 1%;
    color: #5A5A5A;
    font-weight: bold;
}
.reservation-wrap a{
    text-decoration: none;
}
.web-btn{
    width: 100%;
    border-radius: 50px;
    background: #F7A47B 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 10px #00000029;
    padding: 4% 4%;
    text-align: center;
    margin: 6% auto 6% auto;
    width: 28vw;
    font-size: 1.5vw;
    transition: .2s;
    border: solid 2px #F7A47B;
}
.web-btn > a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.line-btn{
    width: 100%;
    border-radius: 50px;
    background: #04A370 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 10px #00000029;
    padding: 4% 4%;
    text-align: center;
    margin: 6% auto 6% auto;
    width: 28vw;
    font-size: 1.5vw;
    border: solid 2px #04A370;
    transition: .2s;

}
.line-btn> a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
/* ホバー時 */
.web-btn:hover{
    border: solid 2px #F7A47B;
    background: #fff;
    color: #F7A47B;
}
.web-btn:hover a{
    color: #F7A47B;
}
.line-btn:hover{
    border: solid 2px #04A370;
    background: #fff;
    color: #04A370;
}
.line-btn:hover a{
    color: #04A370;
}
.Copyright{
    text-align: right;
    color: #fff;
    font-size: 1.4vw;
    padding: 5% 4% 5% 0;
}